.jumbotron {
    background-color:lightgreen; 
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
}

.navbar-default {
    background-color: darkgray;
}

div .buble-item {
 
    display: inline-block; 
    font-size: 14px; 
    text-align: right;
    padding: 1px 20px;
    margin: 2px 0 ;
    line-height: 70%;
}

.well {
border-radius: 25px;
margin: 0px;

}

img {
    height: 30%;
    width: 30%;
}

.float_fix{
clear: both;
}

.pageStyle1 {
/*margin: 0px 40px 0px 10px;*/
 /* height: 297mm;   */
background-color: lightgreen ;
}

.pageStyle2 {
/*margin: 0px 40px 0px 10px;*/
background-color: lightskyblue ;
}

.pageStyle3 {
/*margin: 0px 40px 0px 10px;*/
background-color: burlywood;
}

.style1 {
   background-color: azure;
   color: black;

}

.style2 {
   background-color: red;
}
.style3 {
   background-color: yellowgreen;
     color: black;
}
.style4 {
   background-color: gray;
     color: black;
}

.style5 {
   background-color: orange;
     color: black;
}
.style6 {
   background-color: brown;
     color: white;
}
.style7 {
   background-color: blueviolet;
     color: black;
}

.style8 {
   background-color: pink;
     color: black;
}

.styledate {
   background-color: lightgrey;
     color: black;
     border-color: black;
     padding: 20Px 2px;   
}

.stylehide {
  opacity: 0.1;
}


.toNav {
    margin-top: 180px; /* Add a top margin to avoid content overlay */
    position: fixed;
    float: left;
    background-color: yellowgreen;
    display: block;
    font-size: 20px;
    padding: 10px 162px 5px 163px;
    z-index: 10;

}

.editBuble{
    width: 700px;
    align-self: 10;
    margin-top: 260px;
    margin-left: 100px;
    
}

.fixed{
    position: fixed;
        top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    overflow: hidden;
    z-index: 10;
}

.page{
     margin-top: 230px; /* Add a top margin to avoid content overlay */
}

ul li {
list-style-type: none;
    }

.pageStyleList element.style{
    height: 33px;
}