.jumbotron {
    background-color:lightgreen; 
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
}

.navbar-default {
    background-color: darkgray;
}

div .buble-item {
    background-color: lightgreen;
     display: inline-block; 
    font-size: 14px; 
    text-align: right;
}

.well {
border-radius: 25px;
}

img {
    height: 30%;
    width: 30%;
}

.float_fix{
clear: both;
float: none;
}

@media (min-width: 400px) {
    .pull-right, .pull-left{
        float: none;
    }
