<!DOCTYPE html>
<html lang="en" ng-app="BubleApp">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--AngularJS-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <!--Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--UI Bootstrap-->
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!--App Stuff-->
    <script src="app/app.js"></script>
    <script src="app/model/buble.js"></script>
    <script src="app/home/homeCtrl.js"></script>
    <script src="app/login/loginCtrl.js"></script>
    <script src="app/shared/navCtrl.js"></script>
    <script src="app/model/users.js"></script>
    <script src="app/model/page.js"></script>
    <script src="app/main/mainCtrl.js"></script>
    <script src="app/main/editBubleCtrl.js"></script>
    <script src="app/users/usersCtrl.js"></script>


    <link href="css/style.css" rel="stylesheet">
</head>

<body ng-controller="TestCtrl">

    <div ng-controller="HomeCtrl">
        <div class="jumbotron text-left ">
            <div class="container">
                <h1>What'sHappend</h1>
            </div>
        </div>
        <nav class="navbar navbar-default" role="navigation" ng-controller="NavCtrl">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input ng-disabled="!isLoggedIn()" type="date" class="form-control" placeholder="Start Date" ng-model="nav_fromDate" value={{fromDate}}>
                        <input ng-disabled="!isLoggedIn()" type="date" class="form-control" placeholder="End Date" ng-model="nav_toDate" value={{toDate}}>
                    </div>
                    <button ng-disabled="!isLoggedIn()" type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav">
                    <li ng-show="isLoggedIn()"><a href="#!/user">Users</a></li>
                    <li ng-show="isLoggedIn()"><a href="#!/new">menu2</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-hide="isLoggedIn()"><a class="btn btn-warning btn-md" ng-click="login()">Login</a></li>
                    <li ng-show="isLoggedIn()" ng-click="logout()"><a href="#">Logout</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
    </div>

    <ng-view></ng-view>

</body>

</html>