<div ng-hide="0" class="editBuble">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4>Edit Buble</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
            <form role="form">
                <div class="form-group">
                    <label for="content">Content</label>
                    <input type="text" class="form-control" id="content" placeholder="enter Text" ng-model="buble.content" >
                </div>
                <div class="form-group">
                    <label for="mediaUrl"> Link</label>
                    <input type="text" class="form-control" id="mediaUrl" placeholder="Enter Url" ng-model="buble.mediaUrl">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success btn-default pull-left" data-dismiss="modal"> Apply</button>
            <button type="submit" class="btn btn-warning btn-default pull-left" data-dismiss="modal" ng-click="addBuble()"> Duplicate</button>
            <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal" ng-click="deleteBuble()"><span class="glyphicon glyphicon-remove"></span> Delete</button>
            <button type="submit" class="btn btn-basic btn-default pull-left" data-dismiss="modal" ng-click="cancelEditBuble()"> Cancel</button>

        </div>
    </div>
</div>