<div class="container">

<p>Danny : {{alignArr.user.Raya.align}}</p>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-repeat="buble in bubleArr">

        <div class="well buble-item">
            <!-- ng-click="openDetails($index)">
            
            <!-- <img ng-src="{{recipe.imageUrl}}" class="img-responsive" alt="Image"> -->
            <h3>{{buble.user}}</h3>
            <p>{{buble.time}}</p>
            <p>{{buble.content}}</p>
        </div>
        <br>


    </div>


</div>