<div class="container xxx" >

    <p><input type="date" ng-model="fromDate" value={{fromDate}}></p>
    <p><input type="date" ng-model="toDate" value={{toDate}}></p>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center float_fix" ng-repeat="buble in bublePages[0] | dateRange : fromDate : toDate ">
        <!-- ng-dblclick="deleteBuble($index)" ng-click="openBuble($index)" ng-dblclick="addBuble($index)"> "setUserStyle($index)" ng-click="openDetails($index)"-->
        <div class="well buble-item float_fix" ng-class="displayBuble($index)" ng-click="openBuble($index)">

            <div>
                <h5>{{buble.user}}</h5>
                <p>{{buble.date}} {{buble.time}}</p>
                <p ng-hide="isImage($index)">{{buble.content}}</p>
                <img ng-show="isImage($index)" ng-src={{buble.mediaUrl}} alt="">

            </div>
        </div>
    </div>
</div>